# ==============================================================================
# 1. APPLICATION CONFIGURATION
# ==============================================================================
PORT=3000
NODE_ENV=development
TZ=Asia/Jakarta

# ==============================================================================
# 2. DATABASE CONFIGURATION (POSTGRESQL)
# ==============================================================================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=yuki_cloud_db

# ==============================================================================
# 3. AUTHENTICATION & SECURITY (JWT)
# ==============================================================================
# Ganti string acak ini dengan string rahasia yang panjang & rumit
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRES_IN=1d
